@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('src/assets/fonts/inter/Inter-VariableFont.ttf')
    format('truetype-variations');
  font-weight: 1 999;
}

.link {
  @apply underline text-mint-800 cursor-pointer;
}

.bg-img-cover {
  @apply bg-cover bg-center bg-no-repeat h-full bg-fixed;
}

.img-contain {
  @apply bg-contain bg-center bg-no-repeat;
}

.text-field {
  @apply border-solid border border-mint-500 rounded-sm mb-4 mt-1 w-full sm:w-80 p-2 bg-mint-200;
}

.button-light {
  @apply bg-mint-800 hover:bg-mint-700 text-mint-300 font-bold px-4 rounded py-2;
}

@media (min-width: 768px) {
  .menu-section:nth-child(even) {
    text-align: right;
  }
}
